[submodule "tools/sherlock"]
	path = tools/sherlock
	url = git@github.com:sherlock-project/sherlock.git
[submodule "tools/pwnagotchi"]
	path = tools/pwnagotchi
	url = git@github.com:buduboti/pwnagotchi.git
[submodule "tools/pwnagotchi-plugins"]
	path = tools/pwnagotchi-plugins
	url = git@github.com:hannadiamond/pwnagotchi-plugins.git
[submodule "tools/nishang"]
	path = tools/nishang
	url = https://github.com/samratashok/nishang.git
[submodule "tools/Web-Shells"]
	path = tools/Web-Shells
	url = git@github.com:jbarcia/Web-Shells.git
[submodule "tools/webgrep"]
	path = tools/webgrep
	url = git@github.com:dhondta/webgrep.git
[submodule "lib/kali-wordlists"]
	path = lib/kali-wordlists
	url = git@github.com:00xBAD/kali-wordlists.git
[submodule "tools/whatweb"]
	path = tools/whatweb
	url = git@github.com:urbanadventurer/WhatWeb.git
[submodule "tools/wafw00f"]
	path = tools/wafw00f
	url = git@github.com:EnableSecurity/wafw00f.git
[submodule "tools/logrotten"]
	path = tools/logrotten
	url = https://github.com/whotwagner/logrotten.git
[submodule "lib/CVE/CVE-2021-4034"]
	path = lib/CVE/CVE-2021-4034
	url = https://github.com/arthepsy/CVE-2021-4034.git
[submodule "lib/CVE/CVE-2022-0847-DirtyPipe-Exploits"]
	path = lib/CVE/CVE-2022-0847-DirtyPipe-Exploits
	url = https://github.com/AlexisAhmed/CVE-2022-0847-DirtyPipe-Exploits.git
[submodule "lib/CVE/CVE-2023-32233"]
	path = lib/CVE/CVE-2023-32233
	url = https://github.com/Liuk3r/CVE-2023-32233
[submodule "lib/CVE/CVE-2022-25636"]
	path = lib/CVE/CVE-2022-25636
	url = https://github.com/Bonfee/CVE-2022-25636.git
[submodule "lib/CVE/CVE-2021-3156"]
	path = lib/CVE/CVE-2021-3156
	url = https://github.com/blasty/CVE-2021-3156.git
[submodule "tools/enum4linux-ng"]
	path = tools/enum4linux-ng
	url = https://github.com/cddmp/enum4linux-ng.git
[submodule "tools/odat"]
	path = tools/odat
	url = https://github.com/quentinhardy/odat.git
[submodule "tools/ssh-audit"]
	path = tools/ssh-audit
	url = https://github.com/jtesta/ssh-audit.git
[submodule "tools/rdp-sec-check"]
	path = tools/rdp-sec-check
	url = git@github.com:CiscoCXSecurity/rdp-sec-check.git
[submodule "tools/BlackEye"]
	path = tools/BlackEye
	url = git@github.com:EricksonAtHome/blackeye.git
[submodule "lib/Payloads/PayloadsAllThePDFs"]
	path = lib/Payloads/PayloadsAllThePDFs
	url = git@github.com:luigigubello/PayloadsAllThePDFs.git
[submodule "tools/social-engineer-toolkit"]
	path = tools/social-engineer-toolkit
	url = git@github.com:trustedsec/social-engineer-toolkit.git
[submodule "tools/FinalRecon"]
	path = tools/FinalRecon
	url = https://github.com/thewhiteh4t/FinalRecon.git
[submodule "tools/CyberChef"]
	path = tools/CyberChef
	url = git@github.com:gchq/CyberChef.git
[submodule "tools/username-anarchy"]
	path = tools/username-anarchy
	url = https://github.com/urbanadventurer/username-anarchy.git
