[submodule "tools/sherlock"]
	path = tools/sherlock
	url = git@github.com:sherlock-project/sherlock.git
[submodule "tools/pwnagotchi"]
	path = tools/pwnagotchi
	url = git@github.com:buduboti/pwnagotchi.git
[submodule "tools/pwnagotchi-plugins"]
	path = tools/pwnagotchi-plugins
	url = git@github.com:hannadiamond/pwnagotchi-plugins.git
[submodule "tools/nishang"]
	path = tools/nishang
	url = https://github.com/samratashok/nishang.git
[submodule "tools/Web-Shells"]
	path = tools/Web-Shells
	url = git@github.com:jbarcia/Web-Shells.git
[submodule "tools/webgrep"]
	path = tools/webgrep
	url = git@github.com:dhondta/webgrep.git
[submodule "lib/kali-wordlists"]
	path = lib/kali-wordlists
	url = git@github.com:00xBAD/kali-wordlists.git
[submodule "tools/whatweb"]
	path = tools/whatweb
	url = git@github.com:urbanadventurer/WhatWeb.git
