[submodule "tools/sherlock"]
	path = tools/sherlock
	url = git@github.com:sherlock-project/sherlock.git
[submodule "tools/pwnagotchi"]
	path = tools/pwnagotchi
	url = git@github.com:buduboti/pwnagotchi.git
[submodule "tools/pwnagotchi-plugins"]
	path = tools/pwnagotchi-plugins
	url = git@github.com:hannadiamond/pwnagotchi-plugins.git
[submodule "tools/nishang"]
	path = tools/nishang
	url = https://github.com/samratashok/nishang.git
[submodule "tools/Web-Shells"]
	path = tools/Web-Shells
	url = git@github.com:jbarcia/Web-Shells.git
[submodule "tools/webgrep"]
	path = tools/webgrep
	url = git@github.com:dhondta/webgrep.git
[submodule "lib/kali-wordlists"]
	path = lib/kali-wordlists
	url = git@github.com:00xBAD/kali-wordlists.git
[submodule "tools/whatweb"]
	path = tools/whatweb
	url = git@github.com:urbanadventurer/WhatWeb.git
[submodule "tools/wafw00f"]
	path = tools/wafw00f
	url = git@github.com:EnableSecurity/wafw00f.git
[submodule "tools/logrotten"]
	path = tools/logrotten
	url = https://github.com/whotwagner/logrotten.git
[submodule "lib/CVE/CVE-2021-4034"]
	path = lib/CVE/CVE-2021-4034
	url = https://github.com/arthepsy/CVE-2021-4034.git
[submodule "lib/CVE/CVE-2022-0847-DirtyPipe-Exploits"]
	path = lib/CVE/CVE-2022-0847-DirtyPipe-Exploits
	url = https://github.com/AlexisAhmed/CVE-2022-0847-DirtyPipe-Exploits.git
[submodule "lib/CVE/CVE-2023-32233"]
	path = lib/CVE/CVE-2023-32233
	url = https://github.com/Liuk3r/CVE-2023-32233
[submodule "lib/CVE/CVE-2022-25636"]
	path = lib/CVE/CVE-2022-25636
	url = https://github.com/Bonfee/CVE-2022-25636.git
[submodule "lib/CVE/CVE-2021-3156"]
	path = lib/CVE/CVE-2021-3156
	url = https://github.com/blasty/CVE-2021-3156.git
[submodule "tools/enum4linux-ng"]
	path = tools/enum4linux-ng
	url = https://github.com/cddmp/enum4linux-ng.git
[submodule "tools/odat"]
	path = tools/odat
	url = https://github.com/quentinhardy/odat.git
[submodule "tools/ssh-audit"]
	path = tools/ssh-audit
	url = https://github.com/jtesta/ssh-audit.git
[submodule "tools/rdp-sec-check"]
	path = tools/rdp-sec-check
	url = git@github.com:CiscoCXSecurity/rdp-sec-check.git
[submodule "tools/BlackEye"]
	path = tools/BlackEye
	url = git@github.com:EricksonAtHome/blackeye.git
[submodule "lib/Payloads/PayloadsAllThePDFs"]
	path = lib/Payloads/PayloadsAllThePDFs
	url = git@github.com:luigigubello/PayloadsAllThePDFs.git
[submodule "tools/social-engineer-toolkit"]
	path = tools/social-engineer-toolkit
	url = git@github.com:trustedsec/social-engineer-toolkit.git
[submodule "tools/FinalRecon"]
	path = tools/FinalRecon
	url = https://github.com/thewhiteh4t/FinalRecon.git
[submodule "tools/CyberChef"]
	path = tools/CyberChef
	url = git@github.com:gchq/CyberChef.git
[submodule "tools/username-anarchy"]
	path = tools/username-anarchy
	url = https://github.com/urbanadventurer/username-anarchy.git
[submodule "lib/SecList"]
	path = lib/SecList
	url = git@github.com:danielmiessler/SecLists.git
[submodule "tools/XSStrike"]
	path = tools/XSStrike
	url = https://github.com/s0md3v/XSStrike.git
[submodule "tools/mimipenguin"]
	path = tools/mimipenguin
	url = https://github.com/huntergregal/mimipenguin.git
[submodule "tools/firefox_decrypt"]
	path = tools/firefox_decrypt
	url = https://github.com/unode/firefox_decrypt.git
[submodule "tools/smbv2attack"]
	path = tools/smbv2attack
	url = https://github.com/hatlord/smbv2attack.git
[submodule "tools/fierce"]
	path = tools/fierce
	url = https://github.com/mschwager/fierce.git
[submodule "tools/subfinder"]
	path = tools/subfinder
	url = https://github.com/projectdiscovery/subfinder.git
[submodule "tools/subbrute"]
	path = tools/subbrute
	url = https://github.com/TheRook/subbrute.git
[submodule "tools/smtp-user-enum"]
	path = tools/smtp-user-enum
	url = https://github.com/pentestmonkey/smtp-user-enum.git
[submodule "tools/o365spray"]
	path = tools/o365spray
	url = https://github.com/0xZDH/o365spray.git
[submodule "tools/KeyTabExtract"]
	path = tools/KeyTabExtract
	url = https://github.com/sosdave/KeyTabExtract.git
[submodule "remote-tools/lilikatz"]
	path = remote-tools/lilikatz
	url = https://github.com/CiscoCXSecurity/linikatz
[submodule "tools/chisel"]
	path = tools/chisel
	url = https://github.com/jpillora/chisel.git
[submodule "tools/rpivot"]
	path = tools/rpivot
	url = https://github.com/klsecservices/rpivot.git
[submodule "tools/dnscat2"]
	path = tools/dnscat2
	url = https://github.com/iagox86/dnscat2.git
[submodule "tools/dnscat2-powershell"]
	path = tools/dnscat2-powershell
	url = https://github.com/lukebaggett/dnscat2-powershell.git
[submodule "tools/chisel.git"]
	path = tools/chisel.git
	url = https://github.com/jpillora/chisel.git
[submodule "tools/ptunnel-ng"]
	path = tools/ptunnel-ng
	url = https://github.com/utoni/ptunnel-ng.git
[submodule "tools/kerbrute"]
	path = tools/kerbrute
	url = git@github.com:ropnop/kerbrute.git
[submodule "tools/PCredz"]
	path = tools/PCredz
	url = https://github.com/lgandx/PCredz.git
[submodule "tools/Bashfuscator"]
	path = tools/Bashfuscator
	url = https://github.com/Bashfuscator/Bashfuscator
[submodule "tools/Invoke-DOSfuscation.git"]
	path = tools/Invoke-DOSfuscation.git
	url = https://github.com/danielbohannon/Invoke-DOSfuscation.git
[submodule "tools/cve/joomla-core-1.5.0-3.9.4"]
	path = tools/cve/joomla-core-1.5.0-3.9.4
	url = https://github.com/dpgg101/CVE-2019-10945.git
[submodule "remote-tools/web/splunk/rce"]
	path = remote-tools/web/splunk/rce
	url = https://github.com/0xjpuff/reverse_shell_splunk.git
[submodule "tools/impacket"]
	path = tools/impacket
	url = https://github.com/fortra/impacket.git
[submodule "tools/noPac"]
	path = tools/noPac
	url = https://github.com/Ridter/noPac.git
[submodule "tools/NetNTLMtoSilverTicket"]
	path = tools/NetNTLMtoSilverTicket
	url = git@github.com:NotMedic/NetNTLMtoSilverTicket.git
[submodule "tools/adidnsdump"]
	path = tools/adidnsdump
	url = git@github.com:dirkjanm/adidnsdump.git
[submodule "tools/Rubeus"]
	path = tools/Rubeus
	url = git@github.com:GhostPack/Rubeus.git
[submodule "remote-tools/PowerTools"]
	path = remote-tools/PowerTools
	url = git@github.com:PowerShellEmpire/PowerTools.git
[submodule "remote-tools/PowerUpSQL"]
	path = remote-tools/PowerUpSQL
	url = git@github.com:NetSPI/PowerUpSQL.git
[submodule "remote-tools/Responder-Windows"]
	path = remote-tools/Responder-Windows
	url = git@github.com:lgandx/Responder-Windows.git
[submodule "tools/cve/CVE-2021-1675"]
	path = tools/cve/CVE-2021-1675
	url = https://github.com/cube0x0/CVE-2021-1675.git
[submodule "share/SeBackupPrivilege"]
	path = share/SeBackupPrivilege
	url = git@github.com:giuliano108/SeBackupPrivilege.git
[submodule "htb/lab/Facts/CVE-2024-46987"]
	path = htb/lab/Facts/CVE-2024-46987
	url = git@github.com:Goultarde/CVE-2024-46987.git
[submodule "htb/lab/Facts/CVE-2024-46986"]
	path = htb/lab/Facts/CVE-2024-46986
	url = git@github.com:vidura2/CVE-2024-46986.git
